/* .container{
    height: 50px;
    width: 50px;
} */

.sector-analysis-title{
    text-align: center;
    font-size: 30px;
    color: blue;
    padding: 10px;

}

.accordion-div{
    padding: 20px 80px;
    /* position: absolute;
    z-index: 9; */
    margin-left: 200px;


}