.promotions-title {
  text-align: center;
  font-size: 30px;
  color: blue;
  padding: 10px;
}

.promotions-main-div {
  padding: 20px 80px;
}

.promotion-toggle-button{
    margin-left: 595px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.promotions-row-div{
    height: 300px;
}